body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* This stops the scrollbars from appearing */
  background-color: #72c6e0;
  touch-action: none;
}

canvas {
  image-rendering: pixelated;
  display: block;
}
